In [2]:
# Import pandas
import pandas as pd

# Read in filename and set the index: election
election = pd.read_csv('Datasets/pennsylvania2012_turnout.csv', index_col='county')

# Create a separate dataframe with the columns ['winner', 'total', 'voters']: results
results = election[['winner', 'total', 'voters']]   # results = election.loc[:,['winner', 'total', 'voters']]

# Print the output of results.head()
print(results.head(2))

           winner   total  voters
county
Adams      Romney   41973   61156
Allegheny   Obama  614671  924351

In [8]:
# Slice the row labels 'Perry' to 'Potter': p_counties
p_counties = election.loc['Perry':'Potter']

# Print the p_counties DataFrame
print(p_counties.head(2))

# Slice the row labels 'Potter' to 'Perry' in reverse order: p_counties_rev
p_counties_rev = election.loc['Potter':'Perry':-1]

# Print the p_counties_rev DataFrame
print(p_counties_rev.head(2))

             state   total      Obama     Romney  winner   voters    turnout  \
county
Perry           PA   18240  29.769737  68.591009  Romney    27245  66.948064
Philadelphia    PA  653598  85.224251  14.051451   Obama  1099197  59.461407

                 margin
county
Perry         38.821272
Philadelphia  71.172800
       state  total      Obama     Romney  winner  voters    turnout  \
county
Potter    PA   7205  26.259542  72.158223  Romney   10913  66.022175
Pike      PA  23164  43.904334  54.882576  Romney   41840  55.363289

           margin
county
Potter  45.898681
Pike    10.978242

In [13]:
# Slice the columns from the starting column to 'Obama': left_columns
left_columns = election.loc[:, :'Obama']

# Print the output of left_columns.head()
print(left_columns.head(2))

# Slice the columns from 'Obama' to 'winner': middle_columns
middle_columns = election.loc[:, 'Obama':'winner']

# Print the output of middle_columns.head()
print(middle_columns.head(2))

# Slice the columns from 'Romney' to the end: 'right_columns'
right_columns = election.loc[:, 'Romney':]

# Print the output of right_columns.head()
print(right_columns.head(2))

          state   total      Obama
county
Adams        PA   41973  35.482334
Allegheny    PA  614671  56.640219
               Obama     Romney  winner
county
Adams      35.482334  63.112001  Romney
Allegheny  56.640219  42.185820   Obama
              Romney  winner  voters    turnout     margin
county
Adams      63.112001  Romney   61156  68.632677  27.629667
Allegheny  42.185820   Obama  924351  66.497575  14.454399

In [14]:
# Create the list of row labels: rows
rows = ['Philadelphia', 'Centre', 'Fulton']

# Create the list of column labels: cols
cols = ['winner', 'Obama', 'Romney']

# Create the new DataFrame: three_counties
three_counties = election.loc[rows, cols]

# Print the three_counties DataFrame
print(three_counties)

              winner      Obama     Romney
county
Philadelphia   Obama  85.224251  14.051451
Centre        Romney  48.948416  48.977486
Fulton        Romney  21.096291  77.748861

In [16]:
# Create the boolean array: high_turnout
high_turnout = election.turnout > 70

# Filter the election DataFrame with the high_turnout array: high_turnout_df
high_turnout_df = election[high_turnout]

# Print the high_turnout_results DataFrame
print(high_turnout_df.head(2))

       state   total      Obama     Romney  winner  voters    turnout  \
county
Bucks     PA  319407  49.966970  48.801686   Obama  435606  73.324748
Butler    PA   88924  31.920516  66.816607  Romney  122762  72.436096

           margin
county
Bucks    1.165284
Butler  34.896091

In [17]:
# Import numpy
import numpy as np

# Create the boolean array: too_close
too_close = election['margin'] < 1

# Assign np.nan to the 'winner' column where the results were too close to call
election.loc[too_close, 'winner'] = np.nan

# Print the output of election.info()
print(election.info())

<class 'pandas.core.frame.DataFrame'>
Index: 67 entries, Adams to York
Data columns (total 8 columns):
state      67 non-null object
total      67 non-null int64
Obama      67 non-null float64
Romney     67 non-null float64
winner     64 non-null object
voters     67 non-null int64
turnout    67 non-null float64
margin     67 non-null float64
dtypes: float64(4), int64(2), object(2)
memory usage: 7.2+ KB
None

In [14]:
titanic = pd.read_csv('Datasets/titanic09.csv')

print(titanic.info())

# Select the 'age' and 'cabin' columns: df
df = titanic[['age', 'cabin']]

# Print the shape of df
print(df.shape)

# Drop rows in df with how='any' and print the shape
print(df.dropna(how='any').shape)        # drop rows if one of columns is nan

# Drop rows in df with how='all' and print the shape
print(df.dropna(how='all').shape)        # drop rows if both of columns are nan

# Drop columns in titanic with less than 1000 non-missing values
print(titanic.dropna(thresh=1000, axis='columns').info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
pclass       1309 non-null int64
survived     1309 non-null int64
name         1309 non-null object
sex          1309 non-null object
age          1046 non-null float64
sibsp        1309 non-null int64
parch        1309 non-null int64
ticket       1309 non-null object
fare         1308 non-null float64
cabin        295 non-null object
embarked     1307 non-null object
boat         486 non-null object
body         121 non-null float64
home.dest    745 non-null object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.2+ KB
None
(1309, 2)
(272, 2)
(1069, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 10 columns):
pclass      1309 non-null int64
survived    1309 non-null int64
name        1309 non-null object
sex         1309 non-null object
age         1046 non-null float64
sibsp       1309 non-null int64
parch       1309 non-null int64
ticket      1309 non-null object
fare        1308 non-null float64
embarked    1307 non-null object
dtypes: float64(2), int64(4), object(4)
memory usage: 102.3+ KB
None

In [24]:
weather = pd.read_csv('Datasets/pittsburgh2013.csv')
# Write a function to convert degrees Fahrenheit to degrees Celsius: to_celsius
def to_celsius(F):
    return 5/9*(F - 32)

# Apply the function over 'Mean TemperatureF' and 'Mean Dew PointF': df_celsius
df_celsius = weather[['Mean TemperatureF', 'Mean Dew PointF']].apply(to_celsius)

# Reassign the column labels of df_celsius
df_celsius.columns = ['Mean TemperatureC', 'Mean Dew PointC']

# Print the output of df_celsius.head()
print(df_celsius.head(2))

   Mean TemperatureC  Mean Dew PointC
0          -2.222222        -2.777778
1          -6.111111       -11.111111

In [25]:
# Create the dictionary: red_vs_blue
red_vs_blue = {'Obama':'blue', 'Romney':'red'}

# Use the dictionary to map the 'winner' column to the new column: election['color']
election['color'] = election['winner'].map(red_vs_blue)

# Print the output of election.head()
print(election.head())

          state   total      Obama     Romney  winner  voters    turnout  \
county
Adams        PA   41973  35.482334  63.112001  Romney   61156  68.632677
Allegheny    PA  614671  56.640219  42.185820   Obama  924351  66.497575
Armstrong    PA   28322  30.696985  67.901278  Romney   42147  67.198140
Beaver       PA   80015  46.032619  52.637630  Romney  115157  69.483401
Bedford      PA   21444  22.057452  76.986570  Romney   32189  66.619031

              margin color
county
Adams      27.629667   red
Allegheny  14.454399  blue
Armstrong  37.204293   red
Beaver      6.605012   red
Bedford    54.929118   red

In [27]:
# Import zscore from scipy.stats
from scipy.stats import zscore 

# Call zscore with election['turnout'] as input: turnout_zscore
turnout_zscore = zscore(election['turnout'])

# Print the type of turnout_zscore
print(type(turnout_zscore))

# Assign turnout_zscore to a new column: election['turnout_zscore']
election['turnout_zscore'] = turnout_zscore

# Print the output of election.head()
print(election.head(2))

<class 'numpy.ndarray'>
          state   total      Obama     Romney  winner  voters    turnout  \
county
Adams        PA   41973  35.482334  63.112001  Romney   61156  68.632677
Allegheny    PA  614671  56.640219  42.185820   Obama  924351  66.497575

              margin color  turnout_zscore
county
Adams      27.629667   red        0.853734
Allegheny  14.454399  blue        0.439846

In [33]:
sales = pd.read_csv('Datasets/sales.csv', index_col=0)
print(sales.head(2))
# Create the list of new indexes: new_idx
new_idx = [element.upper() for element in sales.index]

# Assign new_idx to sales.index
sales.index = new_idx

# Print the sales DataFrame
print(sales.head(2))

       eggs  salt  spam
month
Jan      47  12.0    17
Feb     110  50.0    31
     eggs  salt  spam
JAN    47  12.0    17
FEB   110  50.0    31

In [34]:
# Assign the string 'MONTHS' to sales.index.name
sales.index.name = 'MONTHS'

# Assign the string 'PRODUCTS' to sales.columns.name 
sales.columns.name = 'PRODUCTS'

# Print the sales dataframe again
print(sales.head(2))

PRODUCTS  eggs  salt  spam
MONTHS
JAN         47  12.0    17
FEB        110  50.0    31

In [35]:
# Generate the list of months: months
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']

# Assign months to sales.index
sales.index = months

# Print the modified sales DataFrame
print(sales.head(2))

PRODUCTS  eggs  salt  spam
Jan         47  12.0    17
Feb        110  50.0    31

In [37]:
users = pd.read_csv('Datasets/users.csv')
print(users)
visitors_pivot = users.pivot(index = 'weekday', columns = 'city', values='visitors')
print(visitors_pivot)

   Unnamed: 0 weekday    city  visitors  signups
0           0     Sun  Austin       139        7
1           1     Sun  Dallas       237       12
2           2     Mon  Austin       326        3
3           3     Mon  Dallas       456        5
city     Austin  Dallas
weekday
Mon         326     456
Sun         139     237

In [38]:
# Pivot users with signups indexed by weekday and city: signups_pivot
signups_pivot = users.pivot(index='weekday', columns='city', values='signups')

# Print signups_pivot
print(signups_pivot)

# Pivot users pivoted by both signups and visitors: pivot
pivot = users.pivot(index='weekday', columns='city')

# Print the pivoted DataFrame
print(pivot)

city     Austin  Dallas
weekday
Mon           3       5
Sun           7      12
        Unnamed: 0        visitors        signups
city        Austin Dallas   Austin Dallas  Austin Dallas
weekday
Mon              2      3      326    456       3      5
Sun              0      1      139    237       7     12

In [43]:
# Unstack users by 'weekday': byweekday
byweekday = users.unstack('weekday')

# Print the byweekday DataFrame
print(byweekday)

Unnamed: 0  0         0
            1         1
            2         2
            3         3
weekday     0       Sun
            1       Sun
            2       Mon
            3       Mon
city        0    Austin
            1    Dallas
            2    Austin
            3    Dallas
visitors    0       139
            1       237
            2       326
            3       456
signups     0         7
            1        12
            2         3
            3         5
dtype: object

In [50]:
# Group titanic by 'pclass': by_class
by_class = titanic.groupby('pclass')

# Select 'age' and 'fare'
by_class_sub = by_class[['age','fare']]

# Aggregate by_class_sub by 'max' and 'median': aggregated
aggregated = by_class_sub.agg(['max', 'median'])

# Print the maximum age in each class
print(aggregated.loc[:, ('age','max')])

# Print the median fare in each class
print(aggregated.loc[:, ('fare','median')])

pclass
1    80.0
2    70.0
3    74.0
Name: (age, max), dtype: float64
pclass
1    60.0000
2    15.0458
3     8.0500
Name: (fare, median), dtype: float64

In [3]:
# Read the CSV file into a DataFrame and sort the index: gapminder
gapminder = pd.read_csv('Datasets/gapminder_tidy.csv', index_col=['Year','region','Country']).sort_index()

# Group gapminder by 'Year' and 'region': by_year_region
by_year_region = gapminder.groupby(level=['Year','region'])

# Define the function to compute spread: spread
def spread(series):
    return series.max() - series.min()

# Create the dictionary: aggregator
aggregator = {'population':'sum', 'child_mortality':'mean', 'gdp':spread}

# Aggregate by_year_region using the dictionary: aggregated
aggregated = by_year_region.agg(aggregator)

# Print the last 6 entries of aggregated 
print(aggregated.tail(12))

                                   population  child_mortality       gdp
Year region
2012 America                     9.533732e+08        18.304444   48946.0
     East Asia & Pacific         2.230985e+09        23.007857  123743.0
     Europe & Central Asia       8.945065e+08        10.241042   86833.0
     Middle East & North Africa  3.963276e+08        20.903500  128183.0
     South Asia                  1.677417e+09        48.112500   10744.0
     Sub-Saharan Africa          8.983857e+08        80.077347   34666.0
2013 America                     9.629087e+08        17.745833   49634.0
     East Asia & Pacific         2.244209e+09        22.285714  134744.0
     Europe & Central Asia       8.968788e+08         9.831875   86418.0
     Middle East & North Africa  4.030504e+08        20.221500  128676.0
     South Asia                  1.701241e+09        46.287500   11469.0
     Sub-Saharan Africa          9.205996e+08        76.944490   32035.0

In [58]:
# Read file: sales
sales = pd.read_csv('Datasets/sales-feb-2015.csv', index_col='Date', parse_dates=True)
print(sales.head(2))

# Create a groupby object: by_day
# you're going to use .strftime('%a') to transform the index datetime values to abbreviated days of the week.
by_day = sales.groupby(sales.index.strftime('%a'))

# Create sum: units_sum
units_sum = by_day['Units'].sum()

# Print units_sum
print(units_sum)

                       Company   Product  Units
Date
2015-02-02 08:30:00      Hooli  Software      3
2015-02-02 21:00:00  Mediacore  Hardware      9
Mon    48
Sat     7
Thu    59
Tue    13
Wed    48
Name: Units, dtype: int64

In [17]:
print(titanic.head(2))

# In this exercise you'll take the Titanic data set and analyze survival rates from the 'C' deck, 
#    which contained the most passengers. 
def c_deck_survival(gr):

    c_passengers = gr['cabin'].str.startswith('C').fillna(False)

    return gr.loc[c_passengers, 'survived'].mean()

# Create a groupby object using titanic over the 'sex' column: by_sex
by_sex = titanic.groupby('sex')

# Call by_sex.apply with the function c_deck_survival
c_surv_by_sex = by_sex.apply(c_deck_survival)

# Print the survival rates
print(c_surv_by_sex)

   pclass  survived                            name     sex    age  sibsp  \
0       1         1   Allen, Miss. Elisabeth Walton  female  29.00      0
1       1         1  Allison, Master. Hudson Trevor    male   0.92      1

   parch  ticket      fare    cabin embarked boat  body  \
0      0   24160  211.3375       B5        S    2   NaN
1      2  113781  151.5500  C22 C26        S   11   NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
sex
female    0.913043
male      0.312500
dtype: float64