In [1]:
import pandas as pd
uber = pd.read_csv("Datasets/nyc_uber_2014.csv")

In [16]:
uber1 = uber[uber['Date/Time']=='4/1/2014']
uber2 = uber[uber['Date/Time']=='5/1/2014']
uber3 = uber[uber['Date/Time']=='6/1/2014']

In [21]:
# Concatenate uber1, uber2, and uber3: row_concat
row_concat = pd.concat([uber1, uber2, uber3])

# Print the shape of row_concat
print(row_concat.shape)

# Print the head of row_concat
print(row_concat.head())

(297, 5)
   Unnamed: 0 Date/Time      Lat      Lon    Base
0           0  4/1/2014  40.7690 -73.9549  B02512
1           1  4/1/2014  40.7267 -74.0345  B02512
2           2  4/1/2014  40.7316 -73.9873  B02512
3           3  4/1/2014  40.7588 -73.9776  B02512
4           4  4/1/2014  40.7594 -73.9722  B02512

In [36]:
# combine columns of two dataframe 
ebola = pd.read_csv('Datasets/ebola.csv')

# Melt ebola: ebola_melt
ebola_melt = pd.melt(ebola, id_vars=['Date', 'Day'], var_name='type_country', value_name='counts')

print(ebola_melt.head(2))

# create a new dataframe called ebola2
index = range(ebola_melt.shape[0])
columns = ['str_split', 'type', 'country']
ebola2 = pd.DataFrame(index=index, columns=columns)
ebola2.head()

# Create the 'str_split' column
ebola2['str_split'] = ebola_melt.type_country.str.split('_')

# Create the 'type' column
ebola2['type'] = ebola2.str_split.str.get(0)

# Create the 'country' column
ebola2['country'] = ebola2.str_split.str.get(1)

# delete str_split column
ebola2.drop(columns='str_split', inplace=True)
 
print(ebola2.head(2))

# Concatenate ebola_melt and status_country column-wise: ebola_tidy
ebola_tidy = pd.concat([ebola_melt, ebola2], axis=1)

# Print the head of ebola_tidy
print(ebola_tidy.head())

       Date  Day  type_country  counts
0  1/5/2015  289  Cases_Guinea  2776.0
1  1/4/2015  288  Cases_Guinea  2775.0
    type country
0  Cases  Guinea
1  Cases  Guinea
         Date  Day  type_country  counts   type country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

In [37]:
# Import necessary modules
import glob
import pandas as pd

# Write the pattern: pattern
pattern = 'Datasets/*.csv'

# Save all file matches: csv_files
csv_files = glob.glob(pattern)

# Print the file names
print(csv_files)

# Load the second file into a DataFrame: csv2
csv2 = pd.read_csv(csv_files[1])

# Print the head of csv2
print(csv2.head())

['Datasets\\airquality.csv', 'Datasets\\BRICS.csv', 'Datasets\\cars.csv', 'Datasets\\digits.csv', 'Datasets\\dob_job_application_filings_subset.csv', 'Datasets\\ebola.csv', 'Datasets\\gapminder.csv', 'Datasets\\gapminder2.csv', 'Datasets\\nyc_uber_2014.csv', 'Datasets\\tb.csv', 'Datasets\\tips.csv', 'Datasets\\titanic.csv', 'Datasets\\tweets.csv', 'Datasets\\winequality-red.csv', 'Datasets\\world_dev_ind.csv']
  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98

In [39]:
# Create an empty list: frames
frames = []

#  Iterate over csv_files
for csv in csv_files:

    #  Read csv into a DataFrame: df
    df = pd.read_csv(csv)
    
    # Append df to frames
    frames.append(df)

# Concatenate frames into a single DataFrame: uber
allcsv = pd.concat(frames)
    
# Print the shape of uber
print(allcsv.shape)

# Print the head of uber
print(allcsv.head(1))

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

(30860, 1194)
   0.0  0.0.1  0.0.10  0.0.100  0.0.101  0.0.102  0.0.103  0.0.104  0.0.105  \
0  NaN    NaN     NaN      NaN      NaN      NaN      NaN      NaN      NaN

   0.0.106  ...  smoker  source  text  time  timestamp_ms  tip  total_bill  \
0      NaN  ...     NaN     NaN   NaN   NaN           NaN  NaN         NaN

   truncated  user  year
0        NaN   NaN   NaN

[1 rows x 1194 columns]

In [42]:
site = pd.read_csv('Datasets/site.csv')
visited = pd.read_csv('Datasets/visited.csv')

# Merge the DataFrames: o2o
o2o = pd.merge(left=site, right=visited, left_on='name', right_on='site')

# Print o2o
print(o2o)

   Unnamed: 0_x   name    lat    long  Unnamed: 0_y  ident   site       dated
0             0   DR-1 -49.85 -128.57             0    619   DR-1  1927-02-08
1             0   DR-1 -49.85 -128.57             7    844   DR-1  1932-03-22
2             1   DR-3 -47.15 -126.72             1    734   DR-3  1939-01-07
3             1   DR-3 -47.15 -126.72             3    735   DR-3  1930-01-12
4             1   DR-3 -47.15 -126.72             4    751   DR-3  1930-02-26
5             1   DR-3 -47.15 -126.72             5    752   DR-3         NaN
6             2  MSK-4 -48.87 -123.40             2    837  MSK-4  1932-01-14
7             2  MSK-4 -48.87 -123.40             6    837  MSK-4  1932-01-14