In [2]:
import pandas as pd
uber = pd.read_csv("Datasets/nyc_uber_2014.csv")

In [3]:
uber1 = uber[uber['Date/Time']=='4/1/2014']
uber2 = uber[uber['Date/Time']=='5/1/2014']
uber3 = uber[uber['Date/Time']=='6/1/2014']

In [4]:
# Concatenate uber1, uber2, and uber3: row_concat
row_concat = pd.concat([uber1, uber2, uber3])

# Print the shape of row_concat
print(row_concat.shape)

# Print the head of row_concat
print(row_concat.head())

(0, 5)
Empty DataFrame
Columns: [Unnamed: 0, Date/Time, Lat, Lon, Base]
Index: []

In [5]:
# combine columns of two dataframe 
ebola = pd.read_csv('Datasets/ebola.csv')

# Melt ebola: ebola_melt
ebola_melt = pd.melt(ebola, id_vars=['Date', 'Day'], var_name='type_country', value_name='counts')

print(ebola_melt.head(2))

# create a new dataframe called ebola2
index = range(ebola_melt.shape[0])
columns = ['str_split', 'type', 'country']
ebola2 = pd.DataFrame(index=index, columns=columns)
ebola2.head()

# Create the 'str_split' column
ebola2['str_split'] = ebola_melt.type_country.str.split('_')

# Create the 'type' column
ebola2['type'] = ebola2.str_split.str.get(0)

# Create the 'country' column
ebola2['country'] = ebola2.str_split.str.get(1)

# delete str_split column
ebola2.drop(columns='str_split', inplace=True)
 
print(ebola2.head(2))

# Concatenate ebola_melt and status_country column-wise: ebola_tidy
ebola_tidy = pd.concat([ebola_melt, ebola2], axis=1)

# Print the head of ebola_tidy
print(ebola_tidy.head())

       Date  Day  type_country  counts
0  1/5/2015  289  Cases_Guinea  2776.0
1  1/4/2015  288  Cases_Guinea  2775.0
    type country
0  Cases  Guinea
1  Cases  Guinea
         Date  Day  type_country  counts   type country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

In [6]:
# Import necessary modules
import glob
import pandas as pd

# Write the pattern: pattern
pattern = 'Datasets/*.csv'

# Save all file matches: csv_files
csv_files = glob.glob(pattern)

# Print the file names
print(csv_files)

# Load the second file into a DataFrame: csv2
csv2 = pd.read_csv(csv_files[1])

# Print the head of csv2
print(csv2.head())

['Datasets\\airquality.csv', 'Datasets\\all_medalists.csv', 'Datasets\\austin_airport_departure_data_2015_july.csv', 'Datasets\\auto-mpg.csv', 'Datasets\\Automobile2.csv', 'Datasets\\automobiles.csv', 'Datasets\\bachelor.csv', 'Datasets\\BRICS.csv', 'Datasets\\cars.csv', 'Datasets\\digits.csv', 'Datasets\\dob_job_application_filings_subset.csv', 'Datasets\\ebola.csv', 'Datasets\\exchange.csv', 'Datasets\\gapminder.csv', 'Datasets\\gapminder2.csv', 'Datasets\\gapminder_tidy.csv', 'Datasets\\left_one.csv', 'Datasets\\left_table.csv', 'Datasets\\life_expectancy_at_birth.csv', 'Datasets\\nyc_uber_2014.csv', 'Datasets\\oil_price.csv', 'Datasets\\pennsylvania2012_turnout.csv', 'Datasets\\percent-bachelors-degrees-women-usa.csv', 'Datasets\\pittsburgh2013.csv', 'Datasets\\right2.csv', 'Datasets\\right_one.csv', 'Datasets\\right_table.csv', 'Datasets\\sales-feb-2015.csv', 'Datasets\\sales.csv', 'Datasets\\site.csv', 'Datasets\\sp500.csv', 'Datasets\\stocks.csv', 'Datasets\\table1.csv', 'Datasets\\table2.csv', 'Datasets\\tb.csv', 'Datasets\\tips.csv', 'Datasets\\tips1.csv', 'Datasets\\titanic.csv', 'Datasets\\titanic09.csv', 'Datasets\\titanic2.csv', 'Datasets\\tweets.csv', 'Datasets\\users.csv', 'Datasets\\visited.csv', 'Datasets\\weather_data_austin_2010.csv', 'Datasets\\winequality-red.csv', 'Datasets\\world_dev_ind.csv', 'Datasets\\world_ind_pop_data.csv', 'Datasets\\world_population.csv']
     City  Edition     Sport Discipline             Athlete  NOC Gender  \
0  Athens     1896  Aquatics   Swimming       HAJOS, Alfred  HUN    Men
1  Athens     1896  Aquatics   Swimming    HERSCHMANN, Otto  AUT    Men
2  Athens     1896  Aquatics   Swimming   DRIVAS, Dimitrios  GRE    Men
3  Athens     1896  Aquatics   Swimming  MALOKINIS, Ioannis  GRE    Men
4  Athens     1896  Aquatics   Swimming  CHASAPIS, Spiridon  GRE    Men

                        Event Event_gender   Medal
0              100m freestyle            M    Gold
1              100m freestyle            M  Silver
2  100m freestyle for sailors            M  Bronze
3  100m freestyle for sailors            M    Gold
4  100m freestyle for sailors            M  Silver

In [7]:
# Create an empty list: frames
frames = []

#  Iterate over csv_files
for csv in csv_files:

    #  Read csv into a DataFrame: df
    df = pd.read_csv(csv)
    
    # Append df to frames
    frames.append(df)

# Concatenate frames into a single DataFrame: uber
allcsv = pd.concat(frames)
    
# Print the shape of uber
print(allcsv.shape)

# Print the head of uber
print(allcsv.head(1))

ParserError: Error tokenizing data. C error: Expected 1 fields in line 5, saw 2

In [9]:
site = pd.read_csv('Datasets/site.csv')
visited = pd.read_csv('Datasets/visited.csv')

# Merge the DataFrames: o2o
o2o = pd.merge(left=site, right=visited, left_on='name', right_on='site')

# Print o2o
print(o2o)

   Unnamed: 0_x   name    lat    long  Unnamed: 0_y  ident   site       dated
0             0   DR-1 -49.85 -128.57             0    619   DR-1  1927-02-08
1             0   DR-1 -49.85 -128.57             7    844   DR-1  1932-03-22
2             1   DR-3 -47.15 -126.72             1    734   DR-3  1939-01-07
3             1   DR-3 -47.15 -126.72             3    735   DR-3  1930-01-12
4             1   DR-3 -47.15 -126.72             4    751   DR-3  1930-02-26
5             1   DR-3 -47.15 -126.72             5    752   DR-3         NaN
6             2  MSK-4 -48.87 -123.40             2    837  MSK-4  1932-01-14
7             2  MSK-4 -48.87 -123.40             6    837  MSK-4  1932-01-14

In [10]:
sales = pd.read_csv('Datasets/sales-feb-2015.csv', index_col='Date', parse_dates=True)
sales.head(2)

                       Company   Product  Units
Date
2015-02-02 08:30:00      Hooli  Software      3
2015-02-02 21:00:00  Mediacore  Hardware      9

In [11]:
hard = sales[sales.Product == 'Hardware']
soft = sales[sales.Product == 'Software']
serv = sales[sales.Product == 'Service']
dataframes = [hard, soft, serv]

# Concatenate dataframes: february
february = pd.concat(dataframes, keys=['Hardware','Software','Service'], axis=1)

# Print february.info()
print(february.info())
print(february.index)

# Assign pd.IndexSlice: idx
idx = pd.IndexSlice

# Create the slice: slice_2_8
slice_2_8 = february.loc['2015-2-2':'2015-2-8', idx[:,'Company']]

# Print slice_2_8
print(slice_2_8)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19 entries, 2015-02-02 08:30:00 to 2015-02-26 09:00:00
Data columns (total 9 columns):
(Hardware, Company)    5 non-null object
(Hardware, Product)    5 non-null object
(Hardware, Units)      5 non-null float64
(Software, Company)    9 non-null object
(Software, Product)    9 non-null object
(Software, Units)      9 non-null float64
(Service, Company)     5 non-null object
(Service, Product)     5 non-null object
(Service, Units)       5 non-null float64
dtypes: float64(3), object(6)
memory usage: 1.5+ KB
None
DatetimeIndex(['2015-02-02 08:30:00', '2015-02-02 21:00:00',
               '2015-02-03 14:00:00', '2015-02-04 15:30:00',
               '2015-02-04 22:00:00', '2015-02-05 02:00:00',
               '2015-02-05 22:00:00', '2015-02-07 23:00:00',
               '2015-02-09 09:00:00', '2015-02-09 13:00:00',
               '2015-02-11 20:00:00', '2015-02-11 23:00:00',
               '2015-02-16 12:00:00', '2015-02-19 11:00:00',
               '2015-02-19 16:00:00', '2015-02-21 05:00:00',
               '2015-02-21 20:30:00', '2015-02-25 00:30:00',
               '2015-02-26 09:00:00'],
              dtype='datetime64[ns]', name='Date', freq=None)
                            Hardware         Software Service
                             Company          Company Company
Date
2015-02-02 08:30:00              NaN            Hooli     NaN
2015-02-02 21:00:00        Mediacore              NaN     NaN
2015-02-03 14:00:00              NaN          Initech     NaN
2015-02-04 15:30:00              NaN        Streeplex     NaN
2015-02-04 22:00:00  Acme Coporation              NaN     NaN
2015-02-05 02:00:00              NaN  Acme Coporation     NaN
2015-02-05 22:00:00              NaN              NaN   Hooli
2015-02-07 23:00:00  Acme Coporation              NaN     NaN

In [12]:
sales_2 = pd.read_csv('Datasets/sales/sales.csv', index_col='Date', parse_dates=True)
sales_2.head(2)

                       Company   Product  Units
Date
2015-01-21 19:13:21  Streeplex  Hardware     11
2015-01-09 05:23:51  Streeplex   Service      8

In [13]:
jan = sales_2.loc['2015-01']
feb = sales_2.loc['2015-02']
mar = sales_2.loc['2015-03']

# Make the list of tuples: month_list
month_list = [('january', jan), ('february', feb), ('march', mar)]

# Create an empty dictionary: month_dict
month_dict = {}

for month_name, month_data in month_list:

    # Group month_data: month_dict[month_name]
    month_dict[month_name] = month_data.groupby('Company').sum()

# Concatenate data in month_dict: sales
sales_con = pd.concat(month_dict)

# Print sales
print(sales_con.info())
print(sales_con.index)
print(sales_con)

# Print all sales by Mediacore
idx = pd.IndexSlice
print(sales_con.loc[idx[:, 'Mediacore'], :])

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 15 entries, (february, Acme Coporation) to (march, Streeplex)
Data columns (total 1 columns):
Units    15 non-null int64
dtypes: int64(1)
memory usage: 286.0+ bytes
None
MultiIndex(levels=[['february', 'january', 'march'], ['Acme Coporation', 'Hooli', 'Initech', 'Mediacore', 'Streeplex']],
           codes=[[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2], [0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]],
           names=[None, 'Company'])
                          Units
         Company
february Acme Coporation     34
         Hooli               30
         Initech             30
         Mediacore           45
         Streeplex           37
january  Acme Coporation     76
         Hooli               70
         Initech             37
         Mediacore           15
         Streeplex           50
march    Acme Coporation      5
         Hooli               37
         Initech             68
         Mediacore           68
         Streeplex           40
                    Units
         Company
february Mediacore     45
january  Mediacore     15
march    Mediacore     68

In [14]:
bronze= pd.read_csv('Datasets/Summer Olympic medals/Bronze.csv', index_col='Country')
bronze.drop('NOC', axis=1, inplace=True)
silver= pd.read_csv('Datasets/Summer Olympic medals/Silver.csv', index_col='Country')
silver.drop('NOC', axis=1, inplace=True)
gold= pd.read_csv('Datasets/Summer Olympic medals/Gold.csv', index_col='Country')
gold.drop('NOC', axis=1, inplace=True)
print(bronze.head())

                 Total
Country
United States   1052.0
Soviet Union     584.0
United Kingdom   505.0
France           475.0
Germany          454.0

In [15]:
# Create the list of DataFrames: medal_list
medal_list = [bronze, silver, gold]

# Concatenate medal_list horizontally using an inner join: medals
medals = pd.concat(medal_list, keys=['Bronze', 'Silver', 'Gold'], join='inner',axis=1)

# Print medals
print(medals.head(3))

                Bronze  Silver    Gold
                 Total   Total   Total
Country
United States   1052.0  1195.0  2088.0
Soviet Union     584.0   627.0   838.0
United Kingdom   505.0   591.0   498.0