In [2]:
import pandas as pd
X_new_values = [11,12,13,14,15]
X_new_dict = {}
key = 0
for val in X_new_values:
    X_new_dict [key] = val
    key = key+1
X_new = pd.DataFrame(X_new_dict, index=[0])
print(X_new)

    0   1   2   3   4
0  11  12  13  14  15

In [3]:
# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
cars_dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(cars_dict)
print(cars)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index=row_labels

# Print cars again
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45
           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [2]:
# Import the cars.csv data: cars
cars = pd.read_csv('Datasets/cars.csv')

# Print out cars
print(cars)

  Unnamed: 0  cars_per_cap        country  drives_right
0         US           809  United States          True
1        AUS           731      Australia         False
2        JAP           588          Japan         False
3         IN            18          India         False
4         RU           200         Russia          True
5        MOR            70        Morocco          True
6         EG            45          Egypt          True

In [3]:
# Fix import by including index_col
cars = pd.read_csv('Datasets/cars.csv', index_col=0)

# Print out cars
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [4]:
# Iterate over rows of cars
for lab, row in cars.iterrows() :
    print(lab)
    print(row)

US
cars_per_cap              809
country         United States
drives_right             True
Name: US, dtype: object
AUS
cars_per_cap          731
country         Australia
drives_right        False
Name: AUS, dtype: object
JAP
cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object
IN
cars_per_cap       18
country         India
drives_right    False
Name: IN, dtype: object
RU
cars_per_cap       200
country         Russia
drives_right      True
Name: RU, dtype: object
MOR
cars_per_cap         70
country         Morocco
drives_right       True
Name: MOR, dtype: object
EG
cars_per_cap       45
country         Egypt
drives_right     True
Name: EG, dtype: object

In [6]:
# Print out country column as Pandas Series
print(cars['country'])

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [7]:
# Print out country column as Pandas DataFrame
print(cars[['country']])

           country
US   United States
AUS      Australia
JAP          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt

In [8]:
# Print out DataFrame with country and drives_right columns
print(cars[['country', 'drives_right']])

           country  drives_right
US   United States          True
AUS      Australia         False
JAP          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [9]:
# Print out first 3 observations
print(cars[0:3])

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

In [10]:
# Print out fourth, fifth and sixth observation
print(cars[3:6])

     cars_per_cap  country  drives_right
IN             18    India         False
RU            200   Russia          True
MOR            70  Morocco          True

In [11]:
# Print out observation for Japan
print(cars.loc['JAP'])

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object

In [12]:
# Print out observations for Australia and Egypt
print(cars.iloc[[1, 6]])

     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True

In [13]:
# Print out drives_right value of Morocco
print(cars.loc['MOR', 'drives_right'])

True

In [14]:
# Print sub-DataFrame
print(cars.loc[['RU', 'MOR'], ['country', 'drives_right']])

     country  drives_right
RU    Russia          True
MOR  Morocco          True

In [15]:
# Print out drives_right column as Series
print(cars.loc[:, 'drives_right'])

US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

In [16]:
# Print out drives_right column as DataFrame
print(cars.loc[:, ['drives_right']])

     drives_right
US           True
AUS         False
JAP         False
IN          False
RU           True
MOR          True
EG           True

In [17]:
# Print out cars_per_cap and drives_right as DataFrame
print(cars.iloc[:, [0,2]])

     cars_per_cap  drives_right
US            809          True
AUS           731         False
JAP           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True

In [18]:
# Extract drives_right column as Series: dr
dr= cars["drives_right"]
print(dr)

US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

In [19]:
# Use dr to subset cars: sel
sel = cars[dr]  # only true in the dr is equal to sel.  

# Print sel
print(sel)

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [20]:
# Convert code to a one-liner
sel = cars[cars['drives_right']]

# Print sel
print(sel)

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [21]:
# Create car_maniac: observations that have a cars_per_cap over 500
cpc = cars['cars_per_cap']
many_cars = cpc > 500
car_maniac = cars[many_cars]

# Print car_maniac
print(car_maniac)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

In [22]:
# Import numpy, you'll need this
import numpy as np
# Create medium: observations with cars_per_cap between 100 and 500
cpc = cars['cars_per_cap']
between = np.logical_and(cpc>100, cpc<500)
medium = cars[between]

# Print medium
print(medium)

    cars_per_cap country  drives_right
RU           200  Russia          True

In [23]:
# Code for loop that adds COUNTRY column
for lab, row in cars.iterrows() :
    cars.loc[lab, "COUNTRY"] = row["country"].upper()
    
# Print cars
print(cars)

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT

In [24]:
# Define count_entries()
def count_entries(df, col_name):
    """Return a dictionary with counts of 
    occurrences as value for each key."""

    # Initialize an empty dictionary: langs_count
    langs_count = {}
    
    # Extract column from DataFrame: col
    col = df[col_name]
    
    # Iterate over lang column in DataFrame
    for entry in col:

        # If the language is in langs_count, add 1
        if entry in langs_count.keys():
            langs_count[entry] = langs_count[entry] + 1 
        # Else add the language to langs_count, set the value to 1
        else:
            langs_count[entry] = 1

    # Return the langs_count dictionary
    return langs_count

# Call count_entries(): result
# Import Twitter data as DataFrame: df
tweets_df = pd.read_csv('Datasets/tweets.csv')
result = count_entries(tweets_df, "lang")

# Print the result
print(result)

{'en': 97, 'et': 1, 'und': 2}

In [25]:
# Define count_entries()
def count_entries(csv_file, c_size, colname):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    # Initialize an empty dictionary: counts_dict
    counts_dict = {}

    # Iterate over the file chunk by chunk
    for chunk in pd.read_csv(csv_file, chunksize=c_size):

        # Iterate over the column in DataFrame
        for entry in chunk[colname]:
            if entry in counts_dict.keys():
                counts_dict[entry] += 1
            else:
                counts_dict[entry] = 1

    # Return counts_dict
    return counts_dict

# Call count_entries(): result_counts
result_counts = count_entries('Datasets/tweets.csv', 10, 'lang')

# Print result_counts
print(result_counts)

{'en': 97, 'et': 1, 'und': 2}

In [29]:
rangers_df = pd.read_csv('Datasets/baseball_stats.csv', nrows=3)

# Loop over the DataFrame and print each row
for tuples in rangers_df.itertuples():
    print(tuples)

Pandas(Index=0, Team='ARI', League='NL', Year=2012, RS=734, RA=688, W=81, OBP=0.32799999999999996, SLG=0.418, BA=0.259, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.317, OSLG=0.415)
Pandas(Index=1, Team='ATL', League='NL', Year=2012, RS=700, RA=600, W=94, OBP=0.32, SLG=0.389, BA=0.247, Playoffs=1, RankSeason=4.0, RankPlayoffs=5.0, G=162, OOBP=0.306, OSLG=0.37799999999999995)
Pandas(Index=2, Team='BAL', League='AL', Year=2012, RS=712, RA=705, W=93, OBP=0.311, SLG=0.41700000000000004, BA=0.247, Playoffs=1, RankSeason=5.0, RankPlayoffs=4.0, G=162, OOBP=0.315, OSLG=0.40299999999999997)

In [31]:
# Loop over the DataFrame and print each row's Index, Year and Wins (W)
for row in rangers_df.itertuples():
    i = row.Index
    year = row.Year
    wins = row.W
    print(i, year, wins)

0 2012 81
1 2012 94
2 2012 93

## apply() method on pandas

In [6]:
import pandas as pd

scores = pd.read_csv('Datasets/exams.xls')
print(scores.head(1))
groups_to_consider = ['gender','race/ethnicity','parental level of education','lunch','test preparation course']
print(scores[groups_to_consider].head(1))

   gender race/ethnicity parental level of education         lunch  \
0  female        group E          associate's degree  free/reduced

  test preparation course  math score  reading score  writing score
0                    none          74             86             82
   gender race/ethnicity parental level of education         lunch  \
0  female        group E          associate's degree  free/reduced

  test preparation course
0                    none

In [15]:
from functools import reduce

def prevalence(series):
    vals = list(series)
    # Create a tuple list with unique items and their counts
    itms = [(x, vals.count(x)) for x in set(vals)]
    # Extract a tuple with the highest counts using reduce()
    res = reduce(lambda x, y: x if x[1]>y[1] else y, itms)
    # Return the item with the highest counts
    return res[0]

# Apply the prevalence function on the scores DataFrame
result = scores[groups_to_consider].apply(prevalence)
print(result)

gender                               female
race/ethnicity                      group C
parental level of education    some college
lunch                              standard
test preparation course                none
dtype: object

### On the other hand, mode() method on pandas result in same results like prevalence funtion as a dataframe without using apply method.

In [16]:
result = scores[groups_to_consider].mode()
print(result)

   gender race/ethnicity parental level of education     lunch  \
0  female        group C                some college  standard

  test preparation course
0                    none

In [23]:
# Your task is to create two new columns in scores:
# mean is the row-wise mean value of the math score, reading score and writing score
# rank defines how high the mean score is:
# 'high' if the mean value >90
# 'medium' if the mean value >60 but ≤ 90
# 'low' if the mean value ≤60

import numpy as np
def rank(series):
    # Calculate the mean of the input series
    mean = np.mean(series)
    # Return the mean and its rank as a list
    if mean>90:
        return mean, 'high'
    if mean>60 and mean<90:
        return mean, 'medium'
    return mean, 'low'

# Insert the output of rank() into new columns of scores
cols = ['math score', 'reading score', 'writing score']
scores[['mean', 'rank']] = scores[cols].apply(rank, axis=1, result_type='expand')
print(scores[['mean', 'rank']].head())

        mean    rank
0  80.666667  medium
1  48.666667     low
2  47.666667     low
3  91.666667    high
4  82.333333  medium

In [34]:
# Numeric data in scores represent students' performance scaled between 0 and 100.
def rescale(series, low, high):
   # Define the expression to rescale input series
   return series * (high - low)/100 + low

# Rescale the data in cols to lie between 1 and 10
cols = ['math score', 'reading score', 'writing score'] 
scores[cols] = scores[cols].apply(rescale, args=[1,10])
#scores[cols] = scores[cols].apply(rescale, low=1, high=10)  #----  This also can be used for same result
print(scores[cols].head())

   math score  reading score  writing score
0    1.098901       1.098901       1.098901
1    1.098901       1.098901       1.098901
2    1.098901       1.098901       1.098901
3    1.098901       1.098901       1.098901
4    1.098901       1.098901       1.098901

## sample() VS iloc[np.randint()]

In [1]:
import pandas as pd 
import numpy as np
import time

poker_hands = pd.read_csv('Datasets/poker_hand.csv')
# Extract number of rows in dataset
N=poker_hands.shape[0]

# Select and time the selection of the 75% of the dataset's rows
rand_start_time = time.time()
poker_hands.iloc[np.random.randint(low=0, high=N, size=int(0.75 * N))]
print("Time using Numpy: {} sec".format(time.time() - rand_start_time))

# Select and time the selection of the 75% of the dataset's rows using sample()
samp_start_time = time.time()
poker_hands.sample(int(0.75 * N), axis=0, replace = True)
print("Time using .sample: {} sec".format(time.time() - samp_start_time))

Time using Numpy: 0.10631990432739258 sec
Time using .sample: 0.015628337860107422 sec

Sample function of pandas is more efficient than np.randint()

## loc VS iloc

In [11]:
# Define the range of rows to select: row_nums
row_nums = range(0, 1000)

# Select the rows using .loc[] and row_nums and record the time before and after
loc_start_time = time.time()
rows = poker_hands.loc[row_nums]
loc_end_time = time.time()

# Print the time it took to select the rows using .loc
print("Time using .loc[]: {} sec".format(loc_end_time - loc_start_time))

# Select the rows using .iloc[] and row_nums and record the time before and after
iloc_start_time = time.time()
rows = poker_hands.iloc[row_nums]
iloc_end_time = time.time()

# Print the time it took to select the rows using .iloc
print("Time using .iloc[]: {} sec".format(iloc_end_time - iloc_start_time))

Time using .loc[]: 0.015629291534423828 sec
Time using .iloc[]: 0.0 sec

## replace

In [14]:
names = pd.read_csv('Datasets/Popular_Baby_Names.csv')
start_time = time.time()

# Replace all the entries that has 'FEMALE' as a gender with 'GIRL'
names['Gender'].loc[names['Gender'] == 'FEMALE'] = 'GIRL'

print("Time using .loc[]: {} sec".format(time.time() - start_time))

names = pd.read_csv('Datasets/Popular_Baby_Names.csv')
start_time = time.time()

# Replace all the entries that has 'FEMALE' as a gender with 'GIRL'
names['Gender'].replace('FEMALE', 'GIRL', inplace=True)

print("Time using .replace(): {} sec".format(time.time() - start_time))

Time using .loc[]: 0.30068540573120117 sec
Time using .replace(): 0.04077768325805664 sec

#### I didn't see difference between replace and str.replace. In both of them, we can use regex.

In [16]:
start_time = time.time()

# Replace all non-Hispanic ethnicities with 'NON HISPANIC'
names['Ethnicity'].loc[(names["Ethnicity"] == 'BLACK NON HISP') | 
                      (names["Ethnicity"] == 'BLACK NON HISPANIC') | 
                      (names["Ethnicity"] == 'WHITE NON HISP') | 
                      (names["Ethnicity"] == 'WHITE NON HISPANIC')] = 'NON HISPANIC'

print("Time using .loc[]: {} sec".format(time.time() - start_time))

start_time = time.time()

# Replace all non-Hispanic ethnicities with 'NON HISPANIC'
names['Ethnicity'].replace(['BLACK NON HISP', 'BLACK NON HISPANIC', 'WHITE NON HISP' , 'WHITE NON HISPANIC'], 'NON HISPANIC', inplace=True)

print("Time using .replace(): {} sec".format(time.time() - start_time))

Time using .loc[]: 0.18749165534973145 sec
Time using .replace(): 0.0 sec

## pandas series VS ndarray
While we use iterrows() method on pandas dataframe. We see two section in each row, these are indexes and pandas series.
<br>When we use built function for dataframe, firstly it is divided into two and secondly the funtion is performed on pandas series.
<br>But when we use values method, pandas series is changed into ndarrays. Furthermore, ndarrays is faster than pandas series.

In [2]:
# Calculate the variance in each hand
start_time = time.time()
poker_var = poker_hands[['R1','R2','R3','R4','R5']].var(axis=1)
print("Time using pandas vectorization: {} sec".format(time.time() - start_time))
print(poker_var.head(2))

# Calculate the variance in each hand
start_time = time.time()
poker_var = poker_hands[['R1','R2','R3','R4','R5']].values.var(axis=1, ddof=1)
print("Time using NumPy vectorization: {} sec".format(time.time() - start_time))
print(poker_var[0:2])

Time using pandas vectorization: 0.4219074249267578 sec
0    23.3
1    23.3
dtype: float64
Time using NumPy vectorization: 1.4767167568206787 sec
[23.3 23.3]